<div class="container">
  <div class="row row-cols-2">

    <div class="col">
      <p>Manufacturers with more than 200 planes</p>
      <div
       class="chart-container">    
        <canvas id="canvas"></canvas>    
      </div>
    </div>

    <div class="col">
      <p>Number of planes per Airbus model</p>
      <div
       class="chart-container">    
        <canvas id="canvas2"></canvas>    
      </div>
    </div>

    <div class="col">
      <p>Number of planes each manufacturer with over 200 planes</p>
      <div
       class="chart-container">    
        <canvas id="canvas3"></canvas>    
      </div>
    </div>

  </div>
</div>
